body {
       font-size: 17px;
       line-height: 1.7em;
	background: linear-gradient(to bottom,
		white 0px,
		white 250px,
		rgba(61, 178, 230, 0.17) 250px,
		white 500px
	);
}

#pagebox {
	background-color: white;
}

a.navbar-brand {
	padding: 0 !important;
}

a.navbar-brand img {
	height: 50px;
}

.navbar {
	background-image: none;
	background-color: #dc0067;
	color: white !important;
	border: none;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

@media only screen and (max-width: 768px)  {
	.navbar-inverse .dropdown-header {
		color: #d2d2d2;
	}

	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: white;
	}
}

.navbar-inverse .dropdown-header:before {
	content: "- "
}

.navbar-inverse .dropdown-header:after {
	content: " -"
}


.navbar .disabled a {
	color: #A3B3DA !important;
}

.navbar .navbar-form {
	border-color: #14629C !important;
}

.navbar-inverse .navbar-btn:hover, .navbar-inverse .navbar-btn:focus,.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #14629C;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-btn {
	border-color: #14629C;
}

.navbar-collapse {
	border-color: #14629C !important;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #6f6f6f !important;
}

.navbar-nav>.active>a {
	background-color: #6f6f6f !important;
	background-image: none !important;
	box-shadow: none !important;
}

#contentbox img {
	margin: 10px 20px;
}

.backtick {
	color: rgba(224, 159, 1, 1) !important;
	background-color: rgba(255, 180, 0, 0.15) !important;
}

header {
	position:relative;
	width: 100%;
	height: 250px;
	background: url(/moin_static198/memodump/img/ffhskyline_blue_meshed_dashed_5_bg.svg);

}

header #stickyNav{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color:transparent;
	box-shadow:none;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	transform: translate3d(0, 0, 0);
}

header h1#logo {
	display: none;
}

header div.logo {
	background: url(/moin_static198/memodump/img/ffhskyline_blue_meshed_dashed_8_logo.svg);
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,0.5);
	height: 100%;
}

@media screen and (max-width: 730px) {
  header {
    height: 320px;
    background-repeat: no-repeat;
    background-color: #d0f2fd;
  }

  header div.logo {
    background-position-x: 50%;
    background-image: url(/moin_static198/memodump/img/ffhskyline_blue_meshed_dashed_8_logo_small.svg);
  }
}

#outbox {
	padding-top: 0;
}

header #stickyNav.fixed {
	position: fixed;
	top: 0;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 0.5rem 0.1rem rgba(0,0,0,0.2);
	z-index: 10;

}

header #stickyNav.fixed a#logo {
	display: block;
	width: 390px;
	background-color: rgba(255, 255, 255, 0.5);
	background: url(/moin_static198/memodump/img/ffh_logo_3.svg);
	background-repeat: no-repeat;
	float: left;
	height: 50px;
	margin: 5px;
}

header #stickyNav.fixed a { color: #8585EA; border-color:#FFF; }
header #stickyNav h1 { color: #3e9fd7; }

header #stickyNav
	h1 { float:left; color:#fff; font-size:2.5rem; transition: color .3s ease; }

header #stickyNav nav { float:right;

      }

header #stickyNav nav a {
  color: #fff;
  text-decoration: none;
  padding: .4rem .8rem;
  border-bottom:2px solid transparent;
  transition: color 0.3s ease, border 0.3s ease;


}

header #stickyNav nav a:hover { color:#000; border-color:#000; }

.chat {
       overflow: hidden;
       margin-bottom: 20px;
}

.chat .box {
       background-color: rgba(0, 0, 0, 0.05);
       padding: 10px;
       clear: both;
}

.chat-name-alice .box {
       float: left;
       margin-right: 10%;
}

.chat-name-bob .box{
       float: right;
       margin-left: 10%;
       background-color: rgba(0, 158, 224, 0.1);
}

.chat .name {
       font-weight: bold;
}

.chat .name:after {
       content: ":";
}

/**
 *  Sidebar
 */

.treesidebar {
  padding: 30px;
}

.treesidebar ul {
  margin:0;
  padding:0;
  list-style-type: none;
}

.treesidebar ul ul {
  position:relative;
  margin-left:10px;
}

.treesidebar ul li  {
  position:relative;
  margin:0;
  padding:6px 20px;

  color:#333;
  text-transform: uppercase;
  font-size:14px;
  font-weight:bold;
  line-height:20px;
}

.treesidebar ul li a {
  color:#333;
  text-decoration: none;
}

.treesidebar ul li li a {
  text-transform: initial;
  color:#666;
}

.treesidebar ul li a:hover,
.treesidebar ul li a:hover+ul li a {
  color: RGBA(213, 235, 227, 1);
}

/* hierarchical lines */

.treesidebar ul ul:before {
  content:"";
  display:block;
  position:absolute;
  top:0; left:0; bottom:0;
  width:0;

  border-left: 1px solid #ccc;
}

.treesidebar ul ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 16px; left: 0;
  width: 8px; height: 0;

  border-top: 1px solid #ccc;
}

.treesidebar ul ul li:last-child:before {
  top: 15px;
  bottom: 0;
  height: auto;
  background: white;
}
